<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="RackSpaceCloudUserName" value="RACK SPACE CLOUD USERNAME" />
    <add key="RackSpaceCloudAPI" value="RACK SPACE CLOUD API KEY" />
    <add key="RackSpaceCloudAuthManagementURL" value="http://auth.api.rackspacecloud.com/v1.0" />
  </appSettings>
</configuration>
