<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="RackSpaceCloudUserName" value="hydras" />
    <add key="RackSpaceCloudAPI" value="2d7cdf5c2112a05bca749411227dba5b" />
    <add key="RackSpaceCloudAuthManagementURL" value="http://auth.api.rackspacecloud.com/v1.0" />
  </appSettings>
</configuration>
